.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin: auto;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.container {
  padding: 1.9rem;
  text-align: center;
}

#second-section {
  display: none;
}

#first-section .mobile-img {
  width: 100%;
}

#first-section header .logo {
  padding: 1rem;
}

#first-section {
  background: url('../images/bg-pattern-desktop.svg') no-repeat center center/cover;
}

#first-section .container h1 {
  margin: 1.5rem auto 1rem auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 1rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: hsl(0, 6%, 24%);
}

#first-section .container h1 span {
  font-weight: 100;
  color: hsl(0, 36%, 70%);
}

#first-section .container p {
  color: hsl(0, 36%, 70%);
  font-size: 15px;
  line-height: 1.5rem;
}

form .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin: 2rem 0 1rem 0;
}

form .form-inline input {
  font-size: 16px;
  width: 100%;
  padding: 12px;
  color: hsl(0, 36%, 70%);
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 50px;
  outline: none;
  line-height: 19px;
}

form .form-inline .btn {
  outline: none;
  border-radius: 50px;
  z-index: 1;
  border: none;
  outline: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  margin-left: -72px;
  box-shadow: -7px 22px 16px -10px rgba(0, 0, 0, 0.17);
}

form .form-inline .btn:hover {
  cursor: pointer;
  background: hsl(0, 36%, 70%);
}

form .form-inline .btn img {
  padding: 12px 30px 12px 30px;
}

form .form-inline .inline {
  margin-left: 0px;
  display: flex;
  align-items: center;
  position: relative;
}

form .form-inline .icon-error {
  position: absolute;
  right: 100px;
}

form .error {
  color: hsl(0, 93%, 68%);
}

.hide {
  display: none;
}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {
  .container {
    padding: 5rem;
  }

  #first-section .container h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

/* Normal  */
@media (min-width: 769px) /*and (max-width: 1440px) */ {
  main {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #first-section .mobile-img {
    display: none;
  }

  #second-section {
    display: block;
  }

  .container {
    padding: 5rem 13rem 13rem 9rem;
    text-align: left;
  }

  #first-section {
    height: 805px;
  }

  #first-section header .logo {
    margin: 2rem 0 0 9rem;
  }

  #first-section .container h1 {
    font-size: 3.8rem;
    line-height: 4.5rem;
    letter-spacing: 1.3rem;
  }

  form .form-inline input {
    padding: 15px;
  }

  form .form-inline .btn img {
    padding: 15px 40px 15px 40px;
  }

  form .form-inline .inline {
    margin-left: -20px;
    display: flex;
    align-items: center;
    position: relative;
  }
}
